* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Saira Stencil One', sans-serif;
}

p {
  font-family: 'Nanum Gothic', sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 89px;
  display: flex;
  justify-content: space-between;
  padding: 33px 46px;
  background: linear-gradient(to right, #fff, rgb(185, 219, 223, 0.5) 10%,rgb(185, 219, 223, 0.5) 90%, #fff);
  z-index: 2;
  overflow: hidden;
}

#menu-icon:hover {
  cursor: pointer;
}

.blue-text {
  color: #007D8B;
}

#menu-and-title {
  display: flex;
  gap: 10px;
}

#menu-and-title h1 {
  font-size: 24px;
  font-weight: 900;
}

#menu-and-title img {
  width: 30px;
  height: 30px;
}

#search {
  width: 30px;
  height: 30px;
}

#nav-links {
  display: flex;
  gap: 80px;
  font-size: 20px;
  font-weight: 700;
}

#nav-links a {
  text-decoration: none;
  color: #000;
}

#nav-links .blue-text {
  color: #007D8B;
}

@keyframes slide-in {
  0% {
    left: -390px;
  }
  100% {
    left: 0;
  }
}

@keyframes slide-out {
  0% {
    left: 0;
  }
  100% {
    left: -390px;
  }
}

.dropdown {
  position: fixed;
  top: 89px;
  padding: 50px;
  border-width: 0px 3px 3px 0px;
  border-style: solid;
  border-color: #006C795C;
  border-bottom-right-radius: 30px;
  background-color: #fff;
  z-index: 2;
  overflow: hidden;
}

.dropdown.slide-in {
  left: 0;
  animation: slide-in 1s;
}

.dropdown.slide-out {
  left: -390px;
  animation: slide-out 1s;
}

.dropdown-option {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 35px;
}

.dropdown-option:hover {
  cursor: pointer;
  border-bottom: 3px solid #007d8b;
  padding-bottom: 5px;
}

/* 1 */

#main1 {
  position: relative;
  margin-top: -96px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
  padding-left: 51px;
  padding-bottom: 395px;
}

#main1-text {
  width: 40%;
  margin-top: 220px;
}

#main1-text h1 {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 20px;
}

#main1-text h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}

.grey-text {
  font-size: 20px;
  font-weight: 700;
  color: #B3B3B3;
  margin-bottom: 80px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #007D8B;
  color: #fff;
  width: 194px;
  height: 58px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 700;
}

.button:hover {
  background-color: #fff;
  color: #007d8b;
  border: 2px solid #007d8b
}

/* .button:hover p,
.button:hover img {
    pointer-events: none;
} */

#main1-button img {
  width: 28px;
  height: 23px;
}

#circle1 {
  position: absolute;
  right: 0;
  width: 500px;
}

#circle2 {
  position: absolute;
  top: 622px;
  left: 402px;
}

#circle3 {
  position: absolute;
  top: 141px;
  left: 670px;
}

#circle4 {
  position: absolute;
  width: 150px;
  right: 0;
  margin-top: 200px;
  /* background-color: #fff; */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  4.76%, 14.28% {
    transform: rotate(50deg);
  }
  19.04%, 28.56%{
    transform: rotate(100deg);
  }
  33.32%,  42.84%{
    transform: rotate(150deg);
  }
  47.6%,  57.12%{
    transform: rotate(200deg);
  }
  61.88%, 71.4%{
    transform: rotate(250deg);
  }
  76.16%, 85.68% {
    transform: rotate(300deg);
  }
  90.44%, 100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate-shoe {
  0%{
    opacity: 0;
  }
  4.76%, 14.28% {
    opacity: 0.5;
  }
  19.04%, 28.56% {
    opacity: 1;
  }
  33.32%, 42.84% {
    opacity: 0.5;
  }
  47.6%, 100% {
    opacity: 0;
  }
}

@keyframes rotate-shoe2 {
  0%, 14.28% {
    opacity: 0;
  }
  19.04%, 28.56%{
    opacity: 0.5;
  }
  33.32%,  42.84%{
    opacity: 1;
  }
  47.6%,  57.12%{
    opacity: 0.5;
  }
  61.88%, 100%{
    opacity: 0;
  }
}

@keyframes rotate-shoe3 {
  0%, 28.56% {
    opacity: 0;
  }
  33.32%,  42.84%{
    opacity: 0.5;
  }
  47.6%,  57.12%{
    opacity: 1;
  }
  61.88%, 71.4%{
    opacity: 0.5;
  }
  76.16%, 100% {
    opacity: 0;
  }
}

@keyframes rotate-shoe4 {
  0%, 42.84% {
    opacity: 0;
  }
  47.6%,  57.12%{
    opacity: 0.5;
  }
  61.88%, 71.4%{
    opacity: 1;
  }
  76.16%, 85.68% {
    opacity: 0.5;
  }
  90.44%, 100% {
    opacity: 0;
  }
}

@keyframes rotate-shoe5 {
  0% {
    opacity: 0.5;
  }
  4.76%, 57.12% {
    opacity: 0;
  }
  61.88%, 71.4%{
    opacity: 0.5;
  }
  76.16%, 85.68% {
    opacity: 1;
  }
  90.44%, 100% {
    opacity: 0.5;
  }
}

@keyframes rotate-shoe6 {
  0% {
    opacity: 1;
  }
  4.76%, 14.28% {
    opacity: 0.5;
  }
  19.04%, 71.4%{
    opacity: 0;
  }
  76.16%, 85.68% {
    opacity: 0.5;
  }
  90.44%, 100% {
    opacity: 1;
  }
}

@keyframes rotate-shoe7 {
  0% {
    opacity: 0.5;
  }
  4.76%, 14.28% {
    opacity: 1;
  }
  19.04%, 28.56%{
    opacity: 0.5;
  }
  33.32%,  85.68%{
    opacity: 0;
  }
  90.44%, 100% {
    opacity: 0.5;
  }
}




/* 14.28%
7 - iterations - 1s animation
14s pause
21s circle

4.76% ani
9.52% pause
14.28, 
19.04, 28.56
33.32, 42.84*/

#main1-carousel2 {
  position: absolute;
  transition: all 0.3s ease-out;
  animation: rotate 12s linear infinite;
  right: 0px;
  top: 120px;
}

#main1-carousel2 *{
  transition: all 0.3s ease-out;
}

.box {
  position: absolute;
  width: 0px;
  height: 0px;
  left: 0;
  top: 0;
}

.box img {
  transform: rotate(225deg);
  width: 600px;
}

.box:nth-child(1) {
  transform: translate(100%, 50%) rotate(15deg);
  animation: rotate-shoe 12s linear infinite;
}

.box:nth-child(2) {
  transform: translate(55%, -155%) rotate(-51.43deg);
  animation: rotate-shoe2 12s linear infinite;
}

.box:nth-child(3) {
  transform: translate(-50%, -200%) rotate(-112.86deg);
  animation: rotate-shoe3 12s linear infinite;
}

.box:nth-child(4) {
  transform: translate(-155%, -155%) rotate(-164.29deg);
  animation: rotate-shoe4 12s linear infinite;
} 

.box:nth-child(5) {
  transform: translate(-200%, -50%) rotate(-200.72deg);
  animation: rotate-shoe5 12s linear infinite;
}

.box:nth-child(6) {
  transform: translate(-155%, 55%) rotate(-257.15deg);
  animation: rotate-shoe6 12s linear infinite;
}

.box:nth-child(7) {
  transform: translate(-50%, 100%) rotate(-298.58deg);
  animation: rotate-shoe7 12s linear infinite;
}

#main2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #006C79;
  padding: 150px 130px 120px 167px;
}

#main2 img {
  position: relative;
  z-index: 1;
}

#black-friday {
  position: absolute;
  font-size: 64px;
  margin: 0 150px 0 0;
  /* right: 120px; */
  z-index: 0;
  opacity: 0.3;
}

#black-text {
  position: relative;
  margin-left: -17%;
}

#together-in {
  margin-left: -5%;
  width: 100%;
}

#power {
  margin-left: 22%;
  width: 100%;
}

#friday {
  margin-left: 60%;
}

#discount {
  margin-bottom: 450px;
  color: #3d3d3d;
  font-size: 30px;
  font-weight: 400;
}

.btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  background-color: #007D8B;
  color: #fff;
  width: 194px;
  height: 58px;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  margin: 0 900px 0 0;
  bottom: 280px;
}

.button:hover {
  cursor: pointer;
}

/* .btn2:hover {
  cursor: pointer;
} */

.btn2:hover {
  cursor: pointer;
  background-color: #fff;
  color: #007d8b;
  border: 2px solid #007d8b
}

/* .btn2:hover p,
.btn2:hover img {
    pointer-events: none;
} */

#main3 {
  padding: 60px 50px 0 50px;
  height: 1000px;
  overflow: hidden;
}

#selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#selector h1 {
  margin-bottom: 42px;
  font-size: 48px;
  font-weight: 400;
}

#shoe-button-container {
  display: flex;
  gap: 24px;
}

.shoe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 175px;
  height: 51px;
  padding: 7px 13px;
  border: 1px solid #007D8B;
  border-radius: 50px;
  font-size: 24px;
  font-weight: 400;
}

.shoe-button.hovered {
  cursor: pointer;
  background-color: #007d8b;
  color: #fff;
}

#shoe-slider-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 56px;
}

#shoe-slider-container h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 42px;
}

@keyframes shoe-slider-ani1 {
  0% {
    left: 0;
    opacity: 0;
  }
  5.55%, 11.1% {
    left: 3010px;
    opacity: 1;
  }
  22.2%, 33.3%{
    left: 2408px;
  }
  38.85%,  49.95%{
    left: 1806px;
  }
  55.5%,  66.6%{
    left: 1204px;
  }
  72.15%, 83.25%{
    left: 602px;
    opacity: 1;
  }
  88.8%, 94.35% {
    left: 0;
    opacity: 1;
  }
  100% {
    left: 0;
    opacity: 0;
  }
}

@keyframes shoe-slider-ani2 {
  0% {
    left: 602px;
  }
  5.55%, 11.1% {
    left: 0;
    opacity: 1;
  }
  16.65%{
    left: 0;
    opacity: 0;
  }
  22.2%, 33.3%{
    left: 3010px;
    opacity: 1;
  }
  38.85%,  49.95%{
    left: 2408px;
  }
  55.5%,  66.6%{
    left: 1806px;
  }
  72.15%, 83.25%{
    left: 1204px;
  }
  88.8%, 100% {
    left: 602px;
  }
}

@keyframes shoe-slider-ani3 {
  0% {
    left: 1204px;
  }
  5.55%, 16.65% {
    left: 602px;
  }
  22.2%, 27.75%{
    left: 0px;
    opacity: 1;
  }
  33.3%{
    left: 0;
    opacity: 0;
  }
  38.85%,  49.95%{
    left: 3010px;
    opacity: 1;
  }
  55.5%,  66.6%{
    left: 2408px;
    opacity: 1;
  }
  72.15%, 83.25%{
    left: 1806px;
  }
  88.8%, 100% {
    left: 1204px;
  }
}

@keyframes shoe-slider-ani4 {
  0% {
    left: 1806px;
  }
  5.55%, 16.65% {
    left: 1204px;
  }
  22.2%, 33.3%{
    left: 602px;
  }
  38.85%, 44.4%{
    left: 0px;
    opacity: 1;
  }
  49.95%{
    left: 0;
    opacity: 0;
  }
  55.5%,  66.6%{
    left: 3010px;
    opacity: 1;
  }
  72.15%, 83.25%{
    left: 2408px;
  }
  88.8%, 100% {
    left: 1806px;
  }
}

@keyframes shoe-slider-ani5 {
  0% {
    left: 2408px;
  }
  5.55%, 16.65% {
    left: 1806px;
  }
  22.2%, 33.3%{
    left: 1204px;
  }
  38.85%,  49.95%{
    left: 602px;
  }
  55.5%, 61.05%{
    left: 0px;
    opacity: 1;
  }
  66.6% {
    left: 0;
    opacity: 0;
  }
  72.15%, 83.25%{
    left: 3010px;
    opacity: 1;
  }
  88.8%, 100% {
    left: 2408px;
  }
}

@keyframes shoe-slider-ani6 {
  0% {
    left: 3010px;
  }
  5.55%, 16.65% {
    left: 2408px;
  }
  22.2%, 33.3%{
    left: 1806px;
  }
  38.85%,  49.95%{
    left: 1204px;
  }
  55.5%,  66.6%{
    left: 602px;
  }
  72.15%, 77.7%{
    left: 0px;
    opacity: 1;
  }
  83.25% {
    left: 0;
    opacity: 0;
  }
  88.8%, 100% {
    left: 3010px;
    opacity: 1;
  }
}

#shoe-slider {
  position: relative;
  left: 0;
  display: flex;
  gap: 25px;
  transition: left 1s;
} 

.shoes-sale-image {
  position: absolute;
}

#zoom-x {
  left: 0;
  animation: shoe-slider-ani1 12s linear infinite;
}

#zoom-x:hover {
  cursor: pointer;
}

#rosche-racer-x {
  left: 602px;
  animation: shoe-slider-ani2 12s linear infinite;
}

#rosche-racer-x:hover {
  cursor: pointer;
}

#porter-japan {
  left: 1204px;
  animation: shoe-slider-ani3 12s linear infinite;
}

#porter-japan:hover {
  cursor: pointer;
}

#sun-air-max {
  left: 1806px;
  animation: shoe-slider-ani4 12s linear infinite;
}

#sun-air-max:hover {
  cursor: pointer;
}

#li-ning {
  left: 2408px;
  animation: shoe-slider-ani5 12s linear infinite;
}

#li-ning:hover {
  cursor: pointer;
}

#the-joyride {
  left: 3010px;
  animation: shoe-slider-ani6 12s linear infinite;
}

#the-joyride:hover {
  cursor: pointer;
}


/* 4 */

#main4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 48px 184px;
}

#main4 h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 80px;
}

#main4-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

#info {
  display: flex;
  flex-direction: column;
}

#shoe-name {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 13px;
}

#shoe-price {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 13px;
}

#interactive {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

#size {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#interactive h3 {
  text-align: center;
}

#colour h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

#colour-selectors {
  display: flex;
  gap: 20px;
  padding-left: 22px;
  margin-bottom: 20px;
}

.black {
  background-color: #121212;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  box-shadow:
  0 0 0 4px #fff,
  0 0 0 7px #121212;
}

.black:hover {
  cursor: pointer;
}

.black.selected {
  box-shadow:
  0 0 0 4px #fff,
  0 0 0 7px #0d99ff;
}

.black.hovered {
  box-shadow:
  0 0 0 4px #fff,
  0 0 0 7px #0d99ff;
}

.red {
  background-color: #f6835f;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  box-shadow:
  0 0 0 4px #fff,
  0 0 0 7px #f6835f;
}

.red:hover {
  cursor: pointer;
}

.red.selected {
  box-shadow:
  0 0 0 4px #fff,
  0 0 0 7px #0d99ff;
}

.red.hovered {
  box-shadow:
  0 0 0 4px #fff,
  0 0 0 7px #0d99ff;
}

#amount {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 143px;
  height: 45px;
  padding: 14px 24px 10px;
  border: 3px solid #007d8b;
  border-radius: 50px;
}

#counter {
  font-size: 22px;
  font-weight: 700;
  transition: bottom 0.5s;
}

#minus:hover {
  cursor: pointer;
  opacity: 0.8;
}

#plus:hover {
  cursor: pointer;
  opacity: 0.8;
}

#size h3{
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 12px;
}

#size-selectors {
  display: flex;
  gap: 7px;
  margin-bottom: 15px;
}

.size-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #007d8b;
  border: 2px solid #007d8b;
}

.size-option:hover {
  cursor: pointer;
}

.size-option.selected {
  background-color: #007d8b;
  color: #fff;
}

.size-option.hovered {
  background-color: #007d8b;
  color: #fff;
}

#favourite {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 2px solid #007d8b;
}

#favourite:hover {
  cursor: pointer;
}

#reviews h3 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.heart:hover {
  cursor: pointer;
}

#photos {
  display: flex;
  gap: 30px;
  margin-bottom: 15px;
}


#photos img {
  width: 140px;
  height: 140px;
}

#main4 button {
  width: 296px;
  height: 46px;
  border-radius: 50px;
  background-color: #007d8b;
  color: #fff;
  border: none;
  font-size: 15px;
  font-weight: 700;
}

#main4 button:hover {
  cursor: pointer;
  background-color: #fff;
  color: #007d8b;
  border: 2px solid #007D8B;
}

/* Main5 */

#main5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #007d8b;
  padding: 220px 220px 170px;
}

#main5 h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 40px;
}

#main5-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 279px;
  height: 54px;
  border-radius: 25px;
  background-color: #fff;
  color: #007d8b;
  font-size: 20px;
  font-weight: 600;
}

#main5-button:hover {
  cursor: pointer;
  background-color: #006C79;
  color: #fff;
  border: 2px solid #fff;

}

/* Footer */

footer {
  background-color: #f6835f;
  padding: 100px 30px;
}

footer hr {
  margin-bottom: 64px;
}

#footer-links {
  display: flex;
  justify-content: center;
  gap: 150px;
  color: #fff;
}

#footer-links div {
  display: flex;
  flex-direction: column;
}

#footer-links div h2 {
  margin-bottom: 12px;
  font-size: 36px;
  font-weight: 700;
}

#footer-links div a {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 25px;
}

#follow-us img {
  width: 48px;
  height: 48px;
  margin-bottom: 25px;
}

#settings-container {
  display: flex;
  justify-content: center;
  padding: 27px 158px 20px;
  gap: 42px;
  background-color: #f89c80;
}

#settings-container p {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

